<h2>Address</h2>
<section class="address">
  <div class="value loc">
    <label>Location</label>
    {{d-location-picker results=results show_results=true location=model.location}}
  </div>

  <div class="value image-url">
    <label>Image URL</label>
    {{input value=model.image_url}}

    {{#if model.image_url}}<img src="{{model.image_url}}"/>{{/if}}
  </div>

  {{!-- <div class="value">
    <label>Category</label>
    {{input value=model.category_id}}
  </div>--}}

  <div class="value">
    <label>Start</label>
    {{input value=model.start}}
  </div>

  <div class="value">
    <label>End</label>
    {{input value=model.end}}
  </div>
</section>

{{d-translation-edit model=model.info}}

<section>
  <button class="save" {{action 'save'}}>{{fa-icon 'save'}}</button>
  {{#if model.id}}<button class="delete" {{action 'delete'}}>{{fa-icon 'trash'}}</button>{{/if}}
</section>